<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio animated fadeIn">

    <div *ngIf="_ps.productosFiltrado.length > 0 "

    class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4 animated fadeIn">
      <a *ngFor="let item of _ps.productosFiltrado"
      [routerLink]="['/producto',item.cod]"
       class="rk-item ae-masonry__item">
        <img src="assets/productos/{{item.url}}.jpg" alt="">
        <div class="item-meta">
          <h2>{{item.titulo}}</h2>
          <p>{{item.categoria}}</p>
        </div>
      </a>
    </div>
  </section>
